<!doctype html>
<html>
<head>
    <% include ./partials/header %>
     <script type="text/javascript">
        var serverPath = "<%= serverPath %>";
    </script>
    <script src="/static/js/socket.io-1.3.5.js"></script>
    <script src="/static/js/liveRPI.js"></script>   
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> My profile</h1>
        <a href="./logout" class="btn btn-default btn-sm">Logout</a>
        <a href="./users" class="btn btn-default btn-sm">All users</a>
        <a href="./cams" class="btn btn-default btn-sm">My cams</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
            <% include ./partials/user %>
    </div>

</div>
</body>
</html>